
@{
    ViewData["Title"] = "Programer_emploe_etap2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 


    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Programer Emploi</div>
                </div>
              
            </div>
        </div>
    </div>





